@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


html,
body,
#root {
  height: 100%;
}

body {
    background: #011843;
}


.container {
    width: 80%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    border-radius: 25px;
    overflow: hidden;
    background-color: #fff;
}


.form-image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 80%;
    align-items: center;
}

.form h1 {
    font-size: 1.2em;
}

.form-header {
    margin-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;
}


.sign-button {
    display: flex;
    gap: 1em;
    align-items: center;
}

.sign-button button {
    border: none;
    background-color: #3e99ee;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.sign-button button:hover {
    background-color: #3e99ee;
}

.sign-button button{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #3e99ee;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    appearance: none;
    background-color: #ffffff;
}

.input-box select{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    font-weight: 600;
    width: 100%;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box select:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #3e99ee;
}

.input-box select:focus-visible {
    outline: 1px solid #3e99ee;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input select {
    margin-right: 0.35rem;
}

.gender-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.back-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #3e99ee;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.back-button button:hover {
    background-color: #3e99ee;
}

.back-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}