body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #001f4d;
    color: #fff;
  }
  
  .form-container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 10px;
    color: #000;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #001f4d;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input:focus,
  select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-back {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #5b5656;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-back:hover {
    background-color: #333;
  }
  
  .btn-submit {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #0056b3;
  }
  